body {
  position: relative;
  transition: left .5s, right .5s;
}

.no-scroll {
  overflow: hidden;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  opacity: 0;
  display: none;
  transition: opacity .5s;
  
  &.show {
    display: block;
  }
}

.fixed {
  transition: left .5s, right .5s;
}

.drawer {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: left .5s, right .5s;
  
  &.show {
    display: block;
  }
}
